<div class="row text-white">
    <div class="col-lg-12 mt-4">
      <table class="table table-dark">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Username</th>
            <th scope="col">Action</th>
          </tr>
        </thead>
        <tbody>
          
          <% for( let i = 0; i < users.length; i++ ) { %>
            <tr>
              <th scope="row"><%= i+1  %></th>
              <td><%= users[i].username  %></td>
              <td>
                 
                <div class="d-inline">
                  <a href="/dashboard/<%= users[i].id %>">
                    <img src="/assets/icon/eye.svg" alt="">
                  </a>
                  <a href="/dashboard/<%= users[i].id %>/edit"><img src="/assets/icon/edit.svg" alt=""></a>
                  
                  <form action="/dashboard/<%= users[i].id %>?_method=DELETE" method="POST" class="d-inline">
                    <input type="hidden" name="_method" value="delete">
                    <button type="submit" class="bg-dark border-0">
                        <img src="/assets/icon/trash-2.svg" alt="">
                    </button>
                  </form>
                </div>
              </td>
            </tr>
          <% } %>
        </tbody>
      </table>
    </div>
  
  </div>