<%- include('partials/header')  %>


  <body id="login-form" class="d-flex">
    <div class="container bg-dark m-auto px-5 py-5 rounded-3">
      <h1 class="text-white">USER LIST AND REGISTRATION</h1>

      <div class="row">
        <div class="col-lg-6">
          <%- include('partials/create')  %>
          <%- include('partials/lists')  %>
        </div>
        <div class="col-lg-6 text-white">
            <h4>EDIT USER</h4>
                <form method="POST" action="/dashboard/<%= user.id %>?_method=PUT">
                    <input type="hidden" name="_method" value="PUT">
                    <div class="form-group mb-2">
                    <label for="username">Username</label>
                    <input type="text" class="form-control" id="username" name="username" value="<%= user.username %>">
                    </div>
                    <div class="form-group mb-2">
                    <label for="password">Password</label>
                    <input type="password" class="form-control" id="password" name="password" value="<%= user.password %>">
                    </div>
                    <div class="form-group mb-4">
                    <label for="fullname">Fullname</label>
                    <input type="text" class="form-control" id="fullname" name="fullname" placeholder="Enter fullname" value="<%= user.fullname %>">
                    </div>
                    <div class="form-group mb-4">
                    <label for="description">Description</label>
                    <input type="text" class="form-control" id="description" name="description" placeholder="Describe about you" value="<%= user.biodata.description %>">
                    </div>
                    <div class="form-group mb-4">
                    <label for="age">Age</label>
                    <input type="text" class="form-control" id="age" name="age" placeholder="Enter age" value="<%= user.biodata.age %>">
                    </div>
                    <div class="form-group mb-4">
                    <label for="address">Address</label>
                    <input type="text" class="form-control" id="address" name="address" placeholder="Enter address" value="<%= user.biodata.address %>">
                    </div>
                    <button type="submit" class="btn btn-primary">Edit</button>
                </form>
        </div>
      </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
   
  </body>
</html>
