<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&display=swap');

        body{
            font-family: 'Open Sans', sans-serif;
            background: #9C835F;
        }

        .choice{
            cursor: pointer;
            
        }

        .choice img{
            transition-duration: .3s;
        }

        .choice:hover img{
            transform: rotate(28.87deg);
        }

        nav #title{
            color: #F9B23D;
        }

        #game-rps {
            margin-top: 100px;
        }


        #game-rps ul li{
            height: 100px;
            width: 100px;
            margin: 4px;
            list-style: none;
            border-radius: 20px;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        #game-rps ul li img{
            max-height: 90px;
            max-width: 90px;
        }

        #game-rps #result{
            display: flex;
            justify-content: center;
            align-items: center;
        }
        
        #game-rps #result h1{
            font-size: 80px;
            color: #BD0000;
        }
        
        #game-rps #result .game-result{
            
            padding: 20px;
            text-align: center;
            color: #fff;
            border-radius: 10px;
            transform: rotate(-28.87deg);
        }
        
        .com_answer{
            padding:5px;
            margin: 5px;
            /* background-color: #C4C4C4; */
        }
    </style>
</head>
<body>
    <head>
        <nav class="d-flex pt-3 ms-4">
              <a class="me-3" href="/">
                <img src="chapter4/assets/images/back.svg" alt="" width="30" height="24">
              </a>
              <a class="me-3" href="#">
                <img src="chapter4/assets/images/rps-logo.svg" alt="" width="30" height="30">
              </a>
              <div id="title"></div>
          </nav>
        </head>

          <section id="game-rps">
              <div class="container">
                  <div class="row">
                      <!-- Player Side -->
                        <div class="col-4 player-1  d-flex justify-content-center">
                            <ul class="player-wrapper">
                                <h5 class="text-center mb-4">Player 1</h5>
                                <li class="rock choice">
                                    <img src="chapter4/assets/images/batu.png" class="image-fluid"alt="">
                                </li>
                                <li class="paper choice">
                                    <img src="chapter4/assets/images/kertas.png" class="image-fluid"alt="">
                                </li>
                                <li class="scissors choice">
                                    <img src="chapter4/assets/images/gunting.png" class="image-fluid"alt="">
                                </li>
                            </ul>
                        </div>
                        <!-- end of Player Side -->


                        <div id="result" class="col-4 d-flex justify-content-center">
                            <div class="game-result">
                                <div id="answer"><h1>VS</h1></div>
                            </div>
                        </div>

                        <!-- Computer Side -->
                        <div class="col-4 com d-flex justify-content-center">
                            <ul class="computer-wrapper">
                                <h5 class="text-center mb-4">COM</h5>
                                <li id="com_rock" class="rock">
                                    <img src="chapter4/assets/images/batu.png" class="image-fluid"alt="">
                                </li>
                                <li id="com_paper" class="paper">
                                    <img src="chapter4/assets/images/kertas.png" class="image-fluid"alt="">
                                </li>
                                <li id="com_scissors" class="scissors">
                                    <img src="chapter4/assets/images/gunting.png" class="image-fluid"alt="">
                                </li>
                            </ul>
                        </div>
                        <!-- end of Computer Side -->
                  </div>
                  <div id="reset" class="reset d-flex justify-content-center">
                      <img src="chapter4/assets/images/refresh.svg" alt="" style="height: 40px; width: auto;">
                  </div>
              </div>
          </section>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <script src="chapter4/index.js"></script>
</body>
</html>